<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287326419302-5kfutpmgkho53ibka2kpmv1bp5adfk0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287326419302-5kfutpmgkho53ibka2kpmv1bp5adfk0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCWH5OMcgR9hZVVmQN_QCDiwxX972ky8aw</string>
	<key>GCM_SENDER_ID</key>
	<string>287326419302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centrefy</string>
	<key>PROJECT_ID</key>
	<string>centrefy-test</string>
	<key>STORAGE_BUCKET</key>
	<string>centrefy-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287326419302:ios:9a2787c2bcd12835f1f0a7</string>
</dict>
</plist>